.footer {
    background-color: #fafbfc;
    padding: 60px 0;
    margin-top: 50px;
    border-top: 1px solid #eaeaec;
}

.footer-col h3 {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #282c3f;
    letter-spacing: .1px;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
    cursor: pointer;
}

.footer-col ul li:hover {
    color: #282c3f;
}

.btn-app {
    background: black;
    color: white;
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
}